/* In the DM sidebar, hide ads */
a[href="/shop"] {
    display: none !important;
}
a[href="/store"] {
    display: none !important;
}

/* In the User Profile, hide hypesquad and nitro badges */
a[href="https://discord.com/settings/hypesquad-online"] {
    display: none !important;
}
a[href="https://discord.com/settings/premium"] {
    display: none !important;
}

/* And Avatar Decorations (these animated overlay things nitro users have) */
svg[class^='avatarDecoration'] {
    display: none !important;
}

/* Also don't offer to gift nitro */
button[aria-label="Send a gift"] {
    display: none !important;
}

/* Or to boost servers */
div[id="guild-header-popout-premium-subscribe"] {
    display: none !important;
}

/* Hide all emojis locked behind nitro */
img[class^='lockedEmoji'] {
    display: none !important;
}

div[class^='emojiLockIconContainer'] {
    display: none !important;
}

div[class^='nitroTopDividerContainer'] {
    display: none !important;
}

div[class*='categorySectionNitroLocked'] {
    display: none !important;
}

div[class*="titleSecondary"] {
    display: none !important;
}

div[class^="graphicSecondary"] {
    display: none !important;
}

/* Hide Servers in the Emoji Selector */
div[class^="categoryItemGuildCategory"] {
    display: none !important;
}

/* Hide all but the first server in the sticker selector */
/* this still allows scrolling, but cant really do a lot more without js */
div[role="none presentation"] > div:not(:first-child) {
    display: none !important;
}

/* Hide the user activity thing, it is mostly an ad for steam/spotify */
div[class^='activityUserPopoutV2'] {
    display: none !important;
}

/* User Profile: Valorant Ad */
div[class="container__686c4"] {
    display: none !important;
}
